<div class="navbar flex-between primary-blue">
    <div class="navlogo">
    CODE-SOPHIE
    </div>
    <div class="flex navigation">
        <div class="navitem">
            <a href="">Home</a>
        </div>
        <div class="navitem">
            <a href="">About</a>
        </div>
        <div class="navitem">
            <a href="">Contact</a>
        </div>
        <div class="navitem primary-button secondary-green">
            <a href="">Log in</a>
        </div>
    </div>
</div>