<div class="navbar flex-between primary-blue">
    <div class="navlogo">
    CODE-SOPHIE
    </div>
    <div class="flex navigation">
        <div class="navitem">
            <a href="">Home</a>
        </div>
        <div class="navitem">
            <a href="">About</a>
        </div>
        <div class="navitem">
            <a href="">Contact</a>
        </div>
        <div class="navitem primary-button secondary-green">
            <%= link_to 'Log in', new_user_session_path %>
        </div>
         <div class="navitem primary-button secondary-green">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        </div>
    </div>
</div>