    <div>
        <div class="banner-container">
            <img src="https://images.unsplash.com/photo-1520250497591-112f2f40a3f4" alt="hero-banner" />
        </div>
        <div class="banner-text-container">
            <div class="banner-text">
                <h1>Sustainable Hospitality</h1>
                <h3>Manage your hotel's carbon footprint</h3>
            </div>
        </div>
    </div>